<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahasiswa Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@preline/css/dist/preline.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    
    <style>
        .blue-container {
            background-color: #3B82F6;
        }
        .white-text {
            color: #FFFFFF;
        }
        .active-menu {
            background-color: #4CAF50;
        }
        .logo {
            width: 40px; /* Sesuaikan ukuran logo */
            height: 40px; /* Sesuaikan ukuran logo */
        }
        .profile-pic {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        .sidebar-profile-pic {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        .logout-button {
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #ef4444;
            color: white;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body class="bg-gray-100">
    <header class="bg-green-700 text-white p-3 flex justify-between items-center">
        <div class="flex items-center">
            <img src="logounand.png" alt="Logo Unand" class="logo mr-2">
            <h2>Universitas Andalas</h2>
        </div>
        <div>
            <a href="mahasiswa/profile" class="flex items-center">
                <img src="profil.png" alt="Profil" class="profile-pic">
                <span class="ml-2">Miftahul Khaira</span> <!-- User nama displayed here -->
            </a>
        </div>
    </header>
    <div class="flex">
        <aside class="relative w-64 bg-gray-800 text-white min-h-screen p-3">
            <div class="w-full p-2 flex items-center justify-center">
                <img src="profil.png" alt="Profil" class="sidebar-profile-pic" style="width: 70px; height: 70px; margin-right: 10px;">
                <div><p>Miftahul Khaira</p></div>
            </div>                                 
            <nav>
                <ul>
                    <li>
                        <a href="/mahasiswa/mahasiswaDashboard" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-solid fa-table-columns" style="color: #FFFFFF;margin-right: 20px;"></i>Dashboard
                        </a>
                    </li>                    
                    <li>
                        <a href="/mahasiswa/verifikasi" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-circle-check" style="color: #FFFFFF; margin-right: 20px;"></i>Verifikasi
                        </a>
                    </li>                    
                    <li>
                        <a href="/mahasiswa/status" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-solid fa-spinner" style="color: #FFFFFF; margin-right: 20px;"></i>Status
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/riwayat" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-solid fa-clock-rotate-left" style="color: #FFFFFF; margin-right: 20px;"></i>Riwayat
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/feedback" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-comments" style="color: #FFFFFF; margin-right: 20px;"></i>Feedback
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/notifikasi" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-bell" style="color: #FFFFFF; margin-right: 20px;"></i>Notifikasi
                        </a>
                    </li>
                    <li>
                        <a href="profile" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-user" style="color: #FFFFFF; margin-right: 20px;"></i>Profil
                        </a>
                    </li>
                    <li class="mt-6 bg-blue-500 hover:bg-blue-600 text-white font- semibold py-2 px-4 rounded-lg flex justify-center items-center ">
                        <a href="permintaan" class="block">+ Permintaan</a>
                    </li>
                    
                </ul>
            </nav>
            <form id="logoutForm" action="/auth/logout" method="post" class="logout-button">
                <button type="submit" class="w-full text-center py-2">Logout</button>
            </form>
        </aside>
        <main class="flex-1 p-6">
            <h3 class="font-bold text-2xl m-2">Dashboard</h3>
            <!-- Dashboard Analitik -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-6">
                <!-- Kotak-kotak analitik -->
                <div class="bg-gradient-to-r from-blue-500 to-blue-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= totalSurat %></p>
                    <h3 class="text-lg font-semibold mt-2">Total Surat</h3>
                </div>
                <div class="bg-gradient-to-r from-green-500 to-green-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= suratSelesai %></p>
                    <h3 class="text-lg font-semibold mt-2">Surat Selesai</h3>
                </div>
                <div class="bg-gradient-to-r from-yellow-500 to-yellow-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= suratDalamProses %></p>
                    <h3 class="text-lg font-semibold mt-2">Surat Dalam Proses</h3>
                </div>
                <div class="bg-gradient-to-r from-purple-500 to-purple-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= suratBelumDisetujui %></p>
                    <h3 class="text-lg font-semibold mt-2">Surat Belum Disetujui</h3>
                </div>
                <div class="bg-gradient-to-r from-red-500 to-red-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= suratDitolak %></p>
                    <h3 class="text-lg font-semibold mt-2">Surat Ditolak</h3>
                </div>
                <div class="bg-gradient-to-r from-pink-500 to-pink-400 p-6 rounded-lg shadow-xl text-white">
                    <p class="text-3xl font-bold"><%= suratDibatalkan %></p>
                    <h3 class="text-lg font-semibold mt-2">Surat Dibatalkan</h3>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@preline/js/dist/preline.min.js"></script>
</body>
</html>