<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@preline/css/dist/preline.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<style>
    .blue-container {
        background-color: #3B82F6;
    }
    .white-text {
        color: #FFFFFF;
    }
    .active-menu {
        background-color: #374151;
    }
    .logo {
        width: 40px; /* Sesuaikan ukuran logo */
        height: 40px; /* Sesuaikan ukuran logo */
    }
    .profile-pic {
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .sidebar-profile-pic {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .logout-button {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #ef4444;
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .striped-rows tr:nth-child(odd) {
        background-color: #e5e5e7b9;
    }
    
</style>
<body class="bg-gray-100">
    <header class="bg-green-700 text-white p-3 flex justify-between items-center">
        <div class="flex items-center">
            <img src="/uploads/logounand.png" alt="Logo Unand" class="logo mr-2">
            <h3 class="font-semibold text-xl">Universitas Andalas</h3>
        </div>
        <div>
            <a href="profile" class="flex items-center">
                <img src="/uploads/<%= user.foto_profil %>" alt="Profil" class="profile-pic">
                <span class="ml-2 font-semibold"><%= namaMahasiswa %></span> <!-- User nama displayed here -->
            </a>
        </div>
    </header>
    <div class="flex">
        <aside class="relative w-64 bg-gray-800 text-white min-h-screen p-3">
            <div class="w-full p-5 flex items-center justify-start">
                <img src="/uploads/<%= user.foto_profil %>" alt="Profil" class="sidebar-profile-pic" style="width: 70px; height: 70px; margin-right: 10px;">
                <div>
                    <p><%= namaMahasiswa %></p>
                    <p><%= noIdMahasiswa %></p>
                </div>
            </div>                                   
            <nav>
                <ul>
                    <li>
                        <a href="/mahasiswa/mahasiswaDashboard" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-solid fa-table-columns" style="color: #FFFFFF;margin-right: 20px;"></i>Dashboard
                        </a>
                    </li>                    
                    <li>
                        <a href="/mahasiswa/verifikasi" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-circle-check" style="color: #FFFFFF; margin-right: 20px;"></i>Verifikasi
                        </a>
                    </li>                    
                    <li>
                        <a href="/mahasiswa/status" class="block py-2 px-4 hover:bg-gray-600 active-menu">
                            <i class="fa-solid fa-spinner" style="color: #FFFFFF; margin-right: 20px;"></i>Status
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/riwayat" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-solid fa-clock-rotate-left" style="color: #FFFFFF; margin-right: 20px;"></i>Riwayat
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/feedback" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-comments" style="color: #FFFFFF; margin-right: 20px;"></i>Feedback
                        </a>
                    </li>
                    <li>
                        <a href="/mahasiswa/notifikasi" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-bell" style="color: #FFFFFF; margin-right: 20px;"></i>Notifikasi
                        </a>
                    </li>
                    <li>
                        <a href="profile" class="block py-2 px-4 hover:bg-gray-600">
                            <i class="fa-regular fa-user" style="color: #FFFFFF; margin-right: 20px;"></i>Profil
                        </a>
                    </li>
                    <li class="w-3/4 mt-6 ml-6 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4  rounded-lg flex justify-center items-center ">
                        <a href="permintaan" class="block font-semibold">+ Permintaan</a>
                    </li>
                    
                </ul>
            </nav>
            <form id="logoutForm" action="/auth/logout" method="post" class="logout-button">
                <button type="submit" class="w-full text-left py-1 text-sm my-0 flex items-center">
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M12.9999 2C10.2385 2 7.99991 4.23858 7.99991 7C7.99991 7.55228 8.44762 8 8.99991 8C9.55219 8 9.99991 7.55228 9.99991 7C9.99991 5.34315 11.3431 4 12.9999 4H16.9999C18.6568 4 19.9999 5.34315 19.9999 7V17C19.9999 18.6569 18.6568 20 16.9999 20H12.9999C11.3431 20 9.99991 18.6569 9.99991 17C9.99991 16.4477 9.55219 16 8.99991 16C8.44762 16 7.99991 16.4477 7.99991 17C7.99991 19.7614 10.2385 22 12.9999 22H16.9999C19.7613 22 21.9999 19.7614 21.9999 17V7C21.9999 4.23858 19.7613 2 16.9999 2H12.9999Z" fill="#ffffff"/>
                            <path d="M13.9999 11C14.5522 11 14.9999 11.4477 14.9999 12C14.9999 12.5523 14.5522 13 13.9999 13V11Z" fill="#ffffff"/>
                            <path d="M5.71783 11C5.80685 10.8902 5.89214 10.7837 5.97282 10.682C6.21831 10.3723 6.42615 10.1004 6.57291 9.90549C6.64636 9.80795 6.70468 9.72946 6.74495 9.67492L6.79152 9.61162L6.804 9.59454L6.80842 9.58848C6.80846 9.58842 6.80892 9.58778 5.99991 9L6.80842 9.58848C7.13304 9.14167 7.0345 8.51561 6.58769 8.19098C6.14091 7.86637 5.51558 7.9654 5.19094 8.41215L5.18812 8.41602L5.17788 8.43002L5.13612 8.48679C5.09918 8.53682 5.04456 8.61033 4.97516 8.7025C4.83623 8.88702 4.63874 9.14542 4.40567 9.43937C3.93443 10.0337 3.33759 10.7481 2.7928 11.2929L2.08569 12L2.7928 12.7071C3.33759 13.2519 3.93443 13.9663 4.40567 14.5606C4.63874 14.8546 4.83623 15.113 4.97516 15.2975C5.04456 15.3897 5.09918 15.4632 5.13612 15.5132L5.17788 15.57L5.18812 15.584L5.19045 15.5872C5.51509 16.0339 6.14091 16.1336 6.58769 15.809C7.0345 15.4844 7.13355 14.859 6.80892 14.4122L5.99991 15C6.80892 14.4122 6.80897 14.4123 6.80892 14.4122L6.804 14.4055L6.79152 14.3884L6.74495 14.3251C6.70468 14.2705 6.64636 14.1921 6.57291 14.0945C6.42615 13.8996 6.21831 13.6277 5.97282 13.318C5.89214 13.2163 5.80685 13.1098 5.71783 13H13.9999V11H5.71783Z" fill="#ffffff"/>
                        </g>
                    </svg>
                    <span class="font-semibold text-base ml-3">Logout</span>
                </button>
            </form>
        </aside>
        <main class="flex-1 p-6">
            <div class="flex justify-end mb-4">
                <h5 class="font-bold text-2xl m-2 flex-grow">Status</h5>
                <input type="text" id="searchInput" placeholder="Cari..." class="px-2 py-1 border border-gray-300 rounded-l-md focus:outline-none focus:ring focus:border-blue-300">
                <button id="searchButton" class="px-4 py-1 bg-blue-500 text-white rounded-r-md focus:outline-none hover:bg-blue-600">Cari</button>
                <select id="filterSelect" class="ml-2 px-2 py-1 border border-gray-300 rounded-md focus:outline-none focus:ring focus:border-blue-300">
                    <option value="terlama" <%= filter === 'terlama' ? 'selected' : '' %>>Terlama</option>
                    <option value="terbaru" <%= filter === 'terbaru' ? 'selected' : '' %>>Terbaru</option>
                </select>
            </div>
            <div class="container mx-auto">
                <div class="overflow-x-auto">
                    <!-- views/mahasiswa/verifikasi.ejs -->
                    <table class="min-w-full bg-white border border-gray-200">
                        <thead class="bg-gray-100">
                            <tr>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">No</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Kode Surat</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Nama Surat</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Tujuan</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Deskripsi</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Status</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Tanggal Pengajuan</th>
                                <th class="px-6 py-3 border-b border-gray-200 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Terakhir Diperbarui</th>
                            </tr>
                        </thead>
                        
                        <tbody class="striped-rows">
                            <% status.forEach((permintaan, index) => { %>
                                <tr>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= index + 1 %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.kode_surat %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.Surat.nama_surat %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.tujuan %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.deskripsi %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.status %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.createdAt.toLocaleString('id-ID', { dateStyle: 'medium', timeStyle: 'short'}) %></td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"><%= permintaan.updatedAt.toLocaleString('id-ID', { dateStyle: 'medium', timeStyle: 'short'}) %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>    
</div>
<footer class="bg-gray-800 text-white text-center p-2">
    <p>&copy; 2024 Letterly. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@preline/js/dist/preline.min.js"></script>
<script>
                document.addEventListener('DOMContentLoaded', function () {
                
                document.getElementById('searchButton').addEventListener('click', function (event) {
                    event.preventDefault(); 
                    updateUrlWithParams();
                });

                
                document.getElementById('filterSelect').addEventListener('change', function () {
                    updateUrlWithParams();
                });

                function updateUrlWithParams() {
                    var searchValue = document.getElementById('searchInput').value;
                    var filterValue = document.getElementById('filterSelect').value;
                    var url = new URL(window.location.href);
                    url.searchParams.set('search', searchValue);
                    url.searchParams.set('filter', filterValue);
                    window.location.href = url.href;
                }
            });

</script>
</body>
</html>
